---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import Button from "../../components/Button.astro";
---

<BaseLayout pageTitle="Consultar proceso">
    <Card classes="flex-col items-center m-4 sm:m-6">
        <p class="text-center text-lg mb-8 text-gray-600 font-figtree-semibold font-semibold">Consulta tu proceso</p>
          <form action="#" class="flex flex-col items-center w-full gap-4 font-figtree-normal normal">
            <div class="flex flex-col">
              <label for="documentType">Tipo de documento</label>
              <select id="documentType" name="documentType" class="p-2 rounded-md w-64 border-2 border-gray-300">
                <option value="Selection">Selecciona aquí</option>
                <option value="N1">Tarjeta de identidad</option>
                <option value="N2">Registro Civil</option>
                <option value="N3">Cédula de Ciudadania</option>
                <option value="N4">Cédula de Extrangeria</option>
                <option value="N5">Permiso Especial de Permanencia para el sector educaciön</option>
                <option value="N6">Permiso Especial de Permanencia para Ia Formaciön y Reconocimiento de aprendizajes previos</option>
                <option value="N7">Nümero de identificaciån personal</option>
                <option value="N8">Nümero ünico de identificaciån personal</option>
                <option value="N9">Nümero asignado por la Secretaria de Educaciön</option>
                <option value="N10">TARJETA DE MOVILIDAD FRONTERIZA</option>
                <option value="N10">Permiso Protecciön Temporal(PPT)</option>
              </select>
            </div>
            <div class="flex flex-col">
              <label for="document">Número de documento</label>
              <input id="document" type="number" class="no-arrows p-2 rounded-md w-64 border-2 border-gray-300">
            </div>
            <div class="flex flex-col">
              <label for="process">Proceso</label>
              <select id="process" name="process" class="p-2 rounded-md w-64 border-2 border-gray-300">
                <option value="Selection">Selecciona aquí</option>
                <option value="N1">Inscripción</option>
                <option value="N2">Matrícula para nuevos</option>
                <option value="N3">Renovación de matrícula</option>
                <option value="N4">Reintegro</option>
              </select>
            </div>
          <Button>
            Consultar proceso
          </Button>
        </form>
    </Card>
  <style>
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  </style>
</BaseLayout>
