---
import BaseLayout from "../layouts/BaseLayout.astro"
import HomeCard from "../components/HomeCard.astro";
---

<BaseLayout pageTitle="Inicio">
	<div class="grid md:grid-cols-2 md:grid-flow-row gap-8 my-4 sm:my-0">
    <HomeCard title="Inscripción">
      <div slot="svg">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
          <path d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253">
              </path>
          </svg>
      </div>
      <span slot="p">
        Para personas que <strong>desean estudiar</strong> en nuestra institución.
      </span>
    </HomeCard>

    <HomeCard title="Matrícula para nuevos">
      <div slot="svg">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>                    
      </svg>
      </div>
      <span slot="p">
        Para <strong>alumnos inscritos</strong> que han sido admitidos.
      </span>
    </HomeCard>

    <HomeCard title="Renovación de matrícula">
      <div slot="svg">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
          <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon> 
          <polyline points="2 17 12 22 22 17"></polyline>  
          <polyline points="2 12 12 17 22 12"></polyline>
        </svg>
      </div>
      <span slot="p">
        Para <strong>alumnos actuales</strong> que desean seguir en la institución.
      </span>
    </HomeCard>

    <HomeCard title="Reintegro">
      <div slot="svg">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
          <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>  
          <polyline points="15 3 21 3 21 9"></polyline>  
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </div>
      <span slot="p">
        Para <strong>ex-alumnos</strong> que regresan a la institución.
      </span>
    </HomeCard>
  </div>
</BaseLayout>

